tests/phpClassLoader/Configuration/validation/resources/false/test02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="non" minOccurs="1"></xs:element>
				<xs:element name="elm" minOccurs="1"
					maxOccurs="unbounded">
					<xs:complexType mixed="true">
						<xs:attribute name="id" use="required"
							type="xs:integer" />
							<xs:attribute name="name" use="required"
								type="xs:string" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>